/** Import modern-css-reset */
@import "modern-css-reset/src/reset";

/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */
@import "common/variables";
@import "common/custom_variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import theme styles */
@import "common/fonts";
@import "common/global";
@import "components/alerts";
@import "components/buttons";
@import "components/code";

@import "components/syntax";
@import "components/comments";
@import "components/forms";
@import "components/images";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/sidebar";

// material-design-icons
@import "material-design-icons/iconfont/material-icons";

/** import vuetify */
// @import "vuetify/dist/vuetify.min";

// CUSTOM Cookbook import
@import "components/postcard";
@import "components/recipe-card";
@import "components/recette-card";
@import "components/breadcrumb";
@import "components/custom";

// @import "components/inline-svg"
