{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

<header class="navbar navbar-dark bg-dark navbar-expand-lg no-print p-2">
    <div class="container-fluid">
      <a class="navbar-brand monospace" href="{{ "/" | absURL }}">{{ .Site.Params.Title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-secondary">
         
          <li class="nav-item">
            <a class="nav-link px-3" href="{{ absURL "recettes" }}">Explorer</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTypes" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Types
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{ range (.Site.GetPage "section" "recettes").Pages}}
              <li><a class="dropdown-item" href="{{.RelPermalink}}">{{.Title}}</a></li>
              {{ end }}
            </ul>
          </li>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Catégories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{ range (.Site.GetPage "section" "categories").Pages}}
              <li><a class="dropdown-item" href="{{.RelPermalink}}">{{.Title}}</a></li>
              {{ end }}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRegimes" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Régimes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{ range (.Site.GetPage "section" "regime").Pages}}
              <li><a class="dropdown-item" href="{{.RelPermalink}}">{{.Title}}</a></li>
              {{ end }}
            </ul>
          </li>

        </ul>
      
      </div>


    </div>

</header> 

{{ if not .IsHome }}
<div class="navbar mx-lg-4">{{ partial "components/breadcrumb.html" . }}</div>
  
{{ end }}